<a href="https://colab.research.google.com/github/Jobhert/Activity/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals

In this module, we are going to establish our skills in Python programming. In this notebook we are going to cover:

*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Logic Control
*   Interables
*   Functions

## Variable and Data Types
The value specifies which operations can be performed on a given set of data. Because everything in Python programming is an object, data types are essentially classes, and variables are instances of these classes.

In [1]:
x = 1
a, b = 3, -2

In [2]:
type (x)

int

In [3]:
y = 3.0
type(y)

float

In [4]:
x = float(x)
type(x)
x

1.0

In [5]:
s, t, u = "1", '3', 'three'
type(u)

str

# Operations

## Arithmethic
Is used to perform mathematical operations. Seven arithmetic operators for different mathematical operations.

*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Division (/)
*   Exponentiation (**)
*   Floor division (//)
*   Modulus (%)

In [6]:
w, x, y, z = 4.0, -3.0, 1, -32

In [7]:
### Adition 
S = w + x

In [8]:
### Subtraction 
D = y - z

In [9]:
### Multiplication 
p = w*z

In [10]:
### Division
Q = y/x

In [11]:
### Floor Division
Qf = w//z

In [12]:
### Exponentiation
E = w**w

In [13]:
### Modulo
mod = z%x

## Assignment Operations
Are used to assign values to variables in Python. The assignment operator a = 5 assigns the value 5 on the right to the left-hand variable.

*   *=
*   /=
*   **=
*   //=
*   %=

In [14]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [15]:
A += w

In [16]:
B -= x

In [17]:
C *= w

In [18]:
D /= x

In [19]:
E **= y

## Comparators
Comparators are tools that allow two items to be compared. You'll make a comparator and use it to sort an array in this task.

*   Equal: ==
*   Not equal: !=
*   Greater than: >
*  Less than: <
*   Greater than or equal: >=
*   Less than or equal: <=

In [20]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [21]:
## Equality
size_1 == true_size

True

In [22]:
## Non-Equality
size_2 != true_size

True

In [23]:
## Inequality 
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

## Logical 
Allows you to determine whether two expressions are True, the or logical operator determines whether one of many expressions is True, and the not operator determines whether an expression is False.

In [24]:
size_1 == true_size

True

In [25]:
size_1 is true_size

False

In [26]:
size_1 is not true_size

True

In [27]:
P, Q = True, False
conj = P and Q

In [28]:
disj = P or Q

In [29]:
nand = not(P and Q)

In [30]:
xor = (not P and Q) or (P and not Q)

## Input and Output

In [ ]:
print ("Hello World!")

In [32]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current COVID count is:", cnt)
cnt += 10000

In [34]:
print(f"{string}, current count is: {cnt}")

Hello World!, current count is: 24000

In [35]:
sem_grade = 86.25 
name = "Jobhert"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Jobhert, your semestral grade is: 86.25

In [36]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals.".format(pg, mg, fg))

The weights of your semestral grades are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [46]:
e = input("Enter a number:1")

Enter a number:11

In [47]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello{}, your semestral grade is: {}".format(name, sem_grade))

Enter your name: Jobhert
Enter prelim grade: 85
Enter midterm grade: 85
Enter final grade: 85
HelloJobhert, your semestral grade is: None

## Looping Statements

## While

In [48]:
## While Loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

In [49]:
# for (int = 0; i<10; i++){
# printf(i)
# }

i = 0
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [50]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Buko"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Bahay Kubo
Magandang Kanta
Buko

# Flow Control

## Conditional Statement

In [45]:
num_1, num_2 = 14, 12
if (num_1 == num_2):
    print("HAHA")
elif(num_1>num_2):
    print("HOHO")
else:
    print("HUHU")

HOHO

## Functions

In [40]:
# void DeleteUser (int userid){
# delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

In [41]:
userid = 2020_100100
delete_user = (2020_100100)

In [42]:
addend1, addend2, = 5, 6

In [43]:
def add(addend1, addend2):
    sum = addend1 + addend2
    return sum

In [44]:
add(5, 4)

9

##Conclusion

##Reference: