<a href="https://colab.research.google.com/github/Jobhert/Activity/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals

In this module, we are going to establish our skills in Python programming. In this notebook we are going to cover:

*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Logic Control
*   Interables
*   Functions

## Variable and Data Types
The value specifies which operations can be performed on a given set of data. Because everything in Python programming is an object, data types are essentially classes, and variables are instances of these classes.

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type (x)

int

In [ ]:
y = 3.0
type(y)

float

In [ ]:
x = float(x)
type(x)
x

1.0

In [ ]:
s, t, u = "1", '3', 'three'
type(u)

str

## Operations

## Arithmethic
Is used to perform mathematical operations. Seven arithmetic operators for different mathematical operations.

*   Addition (+)
*   Subtraction (-)
*   Multiplication (*)
*   Division (/)
*   Exponentiation (**)
*   Floor division (//)
*   Modulus (%)

In [ ]:
w, x, y, z = 4.0, -3.0, 1, -32

In [ ]:
### Adition 
S = w + x

In [ ]:
### Subtraction 
D = y - z

In [ ]:
### Multiplication 
p = w*z

In [ ]:
### Division
Q = y/x

In [ ]:
### Floor Division
Qf = w//z

In [ ]:
### Exponentiation
E = w**w

In [ ]:
### Modulo
mod = z%x

## Assignment Operations
Are used to assign values to variables in Python. The assignment operator a = 5 assigns the value 5 on the right to the left-hand variable.

*   *=
*   /=
*   **=
*   //=
*   %=

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w

In [ ]:
B -= x

In [ ]:
C *= w

In [ ]:
D /= x

In [ ]:
E **= y

## Comparators
Comparators are tools that allow two items to be compared. You'll make a comparator and use it to sort an array in this task.

*   Equal: ==
*   Not equal: !=
*   Greater than: >
*  Less than: <
*   Greater than or equal: >=
*   Less than or equal: <=

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [ ]:
## Equality
size_1 == true_size

True

In [ ]:
## Non-Equality
size_2 != true_size

True

In [ ]:
## Inequality 
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

## Logical / Logic Control
Allows you to determine whether two expressions are True, the or logical operator determines whether one of many expressions is True, and the not operator determines whether an expression is False.

In [ ]:
size_1 == true_size

True

In [ ]:
size_1 is true_size

False

In [ ]:
size_1 is not true_size

True

In [ ]:
P, Q = True, False
conj = P and Q

In [ ]:
disj = P or Q

In [ ]:
nand = not(P and Q)

In [ ]:
xor = (not P and Q) or (P and not Q)

## Input and Output
Input refers to any information or data sent to the computer by the user via the keyboard. Output refers to the information that the computer provides to the user.

In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current COVID count is:", cnt)
cnt += 10000

Hello World! , Current COVID count is: 14000

In [ ]:
print(f"{string}, current count is: {cnt}")

Hello World!, current count is: 24000

In [ ]:
sem_grade = 86.25 
name = "Jobhert"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Jobhert, your semestral grade is: 86.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals.".format(pg, mg, fg))

The weights of your semestral grades are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [ ]:
e = input("Enter a number:")

Enter a number:1

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello{}, your semestral grade is: {}".format(name, sem_grade))

Enter your name: Jobhert
Enter prelim grade: 80
Enter midterm grade: 80
Enter final grade: 80
HelloJobhert, your semestral grade is: None

## Looping Statements
Is used to execute a block of statements or code numerous times according to the user's specifications.

## While

In [ ]:
## While Loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

In [ ]:
# for (int = 0; i<10; i++){
# printf(i)
# }

i = 0
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Buko"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Bahay Kubo
Magandang Kanta
Buko

## Flow Control
Is the execution order of the program's code. Conditional statements, loops, and function calls govern the control flow of a Python program.

## Conditional Statement

In [ ]:
num_1, num_2 = 14, 12
if (num_1 == num_2):
    print("HAHA")
elif(num_1>num_2):
    print("HOHO")
else:
    print("HUHU")

HOHO

## Functions

In [ ]:
# void DeleteUser (int userid){
# delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

In [ ]:
userid = 2020_100100
delete_user = (2020_100100)

In [ ]:
addend1, addend2, = 5, 6

In [ ]:
def add(addend1, addend2):
    sum = addend1 + addend2
    return sum

In [ ]:
add(5, 4)

9

#Conclusion
To conclude, I manage to understand how to use, operate and how to function the code. A new experience for me and to adjust to this new type of learning. By being able to understand Python I might be a prepared code user in the future.

#Reference:

[1]  Learn Python the Hard Way: 3rd Edition

[2]  Waseem, M., 2021. Variables And Data Types In Python | Python For Beginners | Edureka. [online] Edureka.

[3]   Python Crash Course: A Hands-On, Project-Based Introduction to Programming (2nd Edition)

[4] Python Course (2021).(https://geek-university.com/python)

[5] Python - Loops(2021).(https://www.tutorialspoint.com/python/python_loops.htm)

![image](https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg)